# Arquivos e diretórios específicos do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependências específicas do Yarn
yarn.lock

# Arquivos de compilação e saída
dist/
out/

# Arquivos de log
*.log

# Arquivos de configuração local
.env

# Arquivos de cache
.cache/